/* common.css */
#promotion { width: 100%; height: 51px; background-color: #000; }

#promotion .promoSlide { width: 100%; height: 100%; }

#promotion .promoSlide .promoSlide-01 { width: 100%; height: 100%; }

#promotion .promoSlide .promoSlide-02 { width: 100%; height: 100%; }

#promotion .promoSlide p { color: #fff; font-weight: bold; text-align: center; line-height: 51px; font-size: 15px; letter-spacing: 0.2px; font-style: bold; font-family: "Klein Web 67 Medium Cond"; }

#headBox { position: relative; width: 100%; height: 70px; background-color: #fff; }

#headBox.action { position: fixed; top: 0; }

#headBox .headerWrapper { position: relative; width: auto; height: 100%; padding: 17px 20px 18px 20px; box-sizing: border-box; margin: 0 90px; }

#headBox .headerWrapper h1 { float: left; width: 191px; height: 50%; }

#headBox .headerWrapper h1 a { display: block; width: 100%; height: auto; }

#headBox .headerWrapper h1 a img { width: 100%; height: auto; }

#headBox .headerWrapper nav { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 600px; height: 21px; background-color: #fff; }

#headBox .headerWrapper nav ul { width: 100%; height: 100%; }

#headBox .headerWrapper nav ul li { float: left; margin-left: 32px; font-size: 13px; color: #404040; text-align: center; font-family: "Klein Web 67 Medium Cond"; line-height: 25px; }

#headBox .headerWrapper nav ul li:first-child { margin-left: 30px; color: #ff0000; }

#headBox .headerWrapper nav ul li a { display: block; width: 100%; height: 100%; color: inherit; }

#headBox .headerWrapper .headerIcon { float: right; width: 400px; height: 100%; }

#headBox .headerWrapper .headerIcon ul { width: 100%; height: 100%; }

#headBox .headerWrapper .headerIcon ul li { float: left; margin-top: 17.5px; margin-left: 10px; width: 20%; height: 50%; background-color: #a99; }

#headBox .headerWrapper .headerIcon ul li:first-child { margin-left: 50px; }

#headBox .headerWrapper .headerIcon ul li a { display: block; font-size: 12px; color: #404040; width: 100%; height: 100%; }

#mainBox { width: 100%; height: 40vw; }

#mainBox .mainImg { float: left; width: 65%; height: 100%; }

#mainBox .mainImg img { width: 100%; }

#mainBox .mainText { float: left; width: 35%; height: 100%; }

#mainBox .mainText .textWrapper { width: 90%; height: 80%; margin-left: 7.6%; margin-top: 5.8%; text-align: center; }

#mainBox .mainText .textWrapper img { margin-top: 20%; width: 33.3%; height: auto; margin-bottom: 5.5%; }

#mainBox .mainText .textWrapper p { font-size: 48px; text-transform: uppercase; font-family: "Klein Web 55 Regular"; font-weight: 700; color: #8b1013; }

#mainBox .mainText .textWrapper p:nth-child(3) { color: #000; font-size: 47px; margin-top: -14px; margin-bottom: 4.5px; }

#mainBox .mainText .textWrapper p:nth-child(4) { font-family: "Klein Web 65 Medium"; font-size: 17px; font-weight: normal; color: #000; }

#mainBox .mainText .textWrapper .mainBtn { margin: auto; margin-top: 30px; width: 423px; height: 58px; }

#mainBox .mainText .textWrapper .mainBtn .left { float: left; width: 200px; height: 100%; margin-right: 23px; border: 1px solid #000; box-sizing: border-box; cursor: pointer; color: #000; }

#mainBox .mainText .textWrapper .mainBtn .right { float: right; width: 200px; height: 100%; border: 1px solid #000; box-sizing: border-box; cursor: pointer; color: #000; }

#mainBox .mainText .textWrapper .mainBtn a { display: block; font-family: "Klein Web 55 Regular"; font-size: 18px; line-height: 58px; }

#container { width: 100%; height: 2888px; background-color: #8aa; }

#container .collectionBox { max-width: 1440px; height: 33.5%; margin: auto; background-color: #df8; }

#container .collectionBox .gridStyle { width: 100%; height: 100%; background-color: #7dd; }

#container .collectionBox .gridStyle dt { margin-top: 38px; font-family: "Klein Web 67 Medium Cond"; text-transform: uppercase; font-size: 44px; color: #000; }

#container .collectionBox .gridStyle dd { float: left; width: 20%; height: 40px; background-color: #d00; }

#container .bannerBox { width: 100%; height: 13.9%; background-color: #d28; }

#container .offBox { width: 100%; height: 18%; background-color: #dd8; }

#footBox { width: 100%; height: 1300px; }

#footBox .footerNewletter { position: relative; width: 100%; height: 450px; background-color: #333; }

#footBox .footerNewletter .newletterWrapper { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 756px; height: 60%; }

#footBox .footerNewletter .newletterWrapper .newletterText { width: 756px; height: 70px; box-sizing: border-box; padding: 8px 0; }

#footBox .footerNewletter .newletterWrapper .newletterText .l-text { float: left; width: 378px; height: 100%; }

#footBox .footerNewletter .newletterWrapper .newletterText .l-text p { font-size: 30px; color: #fff; text-align: center; font-family: "Klein Web 67 Medium Cond"; }

#footBox .footerNewletter .newletterWrapper .newletterText .r-text { float: right; width: 378px; height: 100%; line-height: 22px; }

#footBox .footerNewletter .newletterWrapper .newletterText .r-text p { font-size: 16px; color: #adadad; font-family: "Klein Web 55 Regular"; }

#footBox .footerNewletter .newletterWrapper form { position: relative; margin-top: 2px; width: 100%; height: 48px; padding: 17px 0; }

#footBox .footerNewletter .newletterWrapper form fieldset { width: 100%; height: 100%; }

#footBox .footerNewletter .newletterWrapper form fieldset #useEmail { width: 100%; height: 48px; border-top: none; border-left: none; border-right: none; border-bottom: solid 1px #adadad; font-family: "Klein Web 57 Regular Cond"; background-color: #333; font-size: 20px; color: #adadad; }

#footBox .footerNewletter .newletterWrapper form fieldset button { position: absolute; width: auto; height: 40px; top: 22px; right: -5px; border: none; font-size: 20px; color: #adadad; font-family: "Klein Web 57 Regular Cond"; }

#footBox .footerNewletter .newletterWrapper .subscribe { position: relative; margin-top: 15px; width: 100%; height: auto; }

#footBox .footerNewletter .newletterWrapper .subscribe input[type="checkbox"] { display: none; }

#footBox .footerNewletter .newletterWrapper .subscribe input[type="checkbox"] + label { width: 17px; height: 17px; background: #eee; cursor: pointer; border-radius: 0px; float: left; }

#footBox .footerNewletter .newletterWrapper .subscribe input[type="checkbox"]:checked + label { background: url(../../../../image/checkbox_v2.png) #fa3062 no-repeat center/10px 10px; }

#footBox .footerNewletter .newletterWrapper .subscribe input[type="checkbox"] + label span { position: absolute; left: 25px; display: block; color: #adadad; line-height: 18px; font-size: 15px; font-family: "Klein Web 55 Regular"; }

#footBox .footerPrivacy { width: 100%; height: 277px; background-color: #77a; }

#footBox .footerWrapper { width: 100%; height: 673px; background-color: #545; }

.block { width: 100%; height: 632px; }

.block .blockWrapper { max-width: 1580px; height: 632px; margin: auto; margin-bottom: 50px; padding: 0 50px; box-sizing: border-box; }

.block .blockWrapper .prodBN-left { float: left; width: 710px; height: 632px; margin-left: 20px; margin-right: 20px; }

.block .blockWrapper .prodBN-left p { margin-top: 38px; font-family: "Klein Web 67 Medium Cond"; text-transform: uppercase; font-size: 44px; color: #000; }

.block .blockWrapper .prodBN-left .btn { margin-top: 19px; width: 461px; height: 58px; }

.block .blockWrapper .prodBN-left .btn .btnLeft { float: left; width: 219px; height: 100%; margin-right: 23px; border: 1px solid #000; box-sizing: border-box; cursor: pointer; color: #000; }

.block .blockWrapper .prodBN-left .btn .btnRight { float: right; width: 219px; height: 100%; border: 1px solid #000; box-sizing: border-box; cursor: pointer; color: #000; }

.block .blockWrapper .prodBN-left .btn a { display: block; width: 100%; height: 100%; padding: 19px 46px; box-sizing: border-box; margin: auto; font-family: "Klein Web 67 Medium Cond"; font-size: 17px; }

.block .blockWrapper .prodBN-right { float: left; width: 710px; height: 632px; margin-right: 20px; }

.block .blockWrapper .prodBN-right p { margin-top: 38px; font-family: "Klein Web 67 Medium Cond"; text-transform: uppercase; font-size: 44px; color: #000; }

.block .blockWrapper .prodBN-right .btn { margin-top: 19px; width: 461px; height: 58px; }

.block .blockWrapper .prodBN-right .btn .btnLeft { float: left; width: 219px; height: 100%; margin-right: 23px; border: 1px solid #000; box-sizing: border-box; cursor: pointer; color: #000; }

.block .blockWrapper .prodBN-right .btn .btnRight { float: right; width: 219px; height: 100%; border: 1px solid #000; box-sizing: border-box; cursor: pointer; color: #000; }

.block .blockWrapper .prodBN-right .btn a { display: block; width: 100%; height: 100%; padding: 19px 46px; box-sizing: border-box; margin: auto; font-family: "Klein Web 67 Medium Cond"; font-size: 17px; }

.block .blockWrapper .prodBN-right .btn a:hover { background-color: #000; color: #fff; }
